@model StartTampales
@{
    ViewBag.Title = "Index";
}

<div class="container w-100">
    <div class="border-bottom mb-1 mx-0">
        <p class="text-center display-4">Welcome to <span class="fw-bolder">FormiX</span></p>
    </div>

    <!-- Carousel -->
    <div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.TopTamplates.Count(); i++)
            {
                var tamplate = Model.TopTamplates.ElementAt(i);
                <a asp-controller="Answer" asp-action="OpenTamplate" asp-route-idTamplate="@tamplate.TamplateId" class="d-block text-decoration-none">
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img src="@tamplate.UrlPhoto"
                             class="d-block w-100 object-fit-cover"
                             style="max-height: 400px; filter: blur(5px); opacity: 0.75;"
                             alt="@tamplate.Description">
                        <div class="position-absolute mx-auto d-flex justify-content-start bg-white bg-opacity-50"
                             style="top:5vh; left:10vw">
                            <div>
                                <label class="text-dark m-2">@tamplate.Rating</label>
                            </div>
                            <div class="d-flex">
                                @for (float j = tamplate.Rating; j > 0; j--)
                                {
                                    <h4 class="m-1">
                                        @if (j >= 1)
                                        {
                                            <i class="bi bi-star-fill star"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-star-half star"></i>
                                        }
                                    </h4>
                                }
                            </div>
                        </div>
                        <div class="carousel-caption d-md-block text-white">
                            <h5>@tamplate.Title</h5>
                            <p>@tamplate.Description</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Latest Forms Section -->
    <div class="border-bottom border-top my-1 mx-0">
        <p class="display-6">Latest Forms:</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mx-auto d-flex justify-content-start">
        @foreach (var tamplate in Model.LastTamplates)
        {
            <div class="col-12 col-md-4 mb-3">
                <div class="card h-100 d-flex flex-column">
                    <div class="card-header">
                        <h6 class="card-title m-0">@tamplate.Title</h6>
                    </div>
                    <div class="card-body position-relative p-0">
                        <img src="@tamplate.UrlPhoto" class="card-img rounded-0" />
                        <p class="card-text small position-absolute bottom-0 start-0 w-100 text-white bg-dark bg-opacity-75 p-2 m-0">
                            @tamplate.Description
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <form asp-controller="Answer" asp-action="OpenTamplate" method="get">
                            <input type="hidden" name="idTamplate" value="@tamplate.TamplateId" class="form-control" />
                            <button class="btn btn-primary" type="submit">Open</button>
                        </form>
                        <p class="text-muted m-2">@tamplate.CreatedAt</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
