@model List<HomeTemplates>;
@{
    ViewData["TitleForm"] = ViewData["Title"];
}
<div class="row">
    <nav class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar position-fixed">
        <div class="p-3">
            <form method="get">
                <input type="hidden" name="search" value="@ViewData["Search"]" />
                <h5 class="text-center">@Localizer["Menu"]</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <label class="text-muted mb-1">@Localizer["Category"]:</label>
                        <select name="category" class="form-select">
                            <option value="0">All Templates</option>
                            @foreach (TemplateType category in Enum.GetValues(typeof(TemplateType)))
                            {
                                if (ViewData["Title"]?.ToString() == category.ToString())
                                {
                                    <option value="@((int)category)" selected>@category.ToString()</option>
                                }
                                else
                                {
                                    <option value="@((int)category)">@category.ToString()</option>
                                }
                            }
                        </select>
                    </li>
                    <li class="nav-item mb-2">
                        <label class="text-muted mb-1">@Localizer["Sorting"]:</label>
                        <select name="sort" class="form-select">
                            @if(ViewData["Sort"]?.ToString() == "popular")
                            {
                                <option value="new">New</option>
                                <option selected value="popular">Popular</option>
                            }
                            else
                            {
                                <option selected value="new">New</option>
                                <option value="popular">Popular</option>
                            }
                        </select>
                    </li>
                    <li class="nav-item text-center">
                        <button class="btn btn-outline-primary">
                            @Localizer["Find"]
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
    <nav class="d-md-none">
        <button class="btn btn-primary m-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
            @Localizer["Menu"]
        </button>

        <div class="offcanvas offcanvas-start bg-light" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="mobileMenuLabel">@Localizer["Menu"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form method="get">
                    <input type="hidden" name="search" value="@ViewData["Search"]" />
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <label class="text-muted mb-1">@Localizer["Category"]</label>
                            <select name="category" class="form-select">
                                <option value="0">All Templates</option>
                                @foreach (TemplateType category in Enum.GetValues(typeof(TemplateType)))
                                {
                                    if (ViewData["Title"]?.ToString() == category.ToString())
                                    {
                                        <option value="@((int)category)" selected>@category.ToString()</option>
                                    }
                                    else
                                    {
                                        <option value="@((int)category)">@category.ToString()</option>
                                    }
                                }
                            </select>
                        </li>
                        <li class="nav-item mb-2">
                            <label class="text-muted mb-1">@Localizer["Sorting"]:</label>
                            <select name="sort" class="form-select">
                                @if (ViewData["Sort"]?.ToString() == "popular")
                                {
                                    <option value="new">New</option>
                                    <option selected value="popular">Popular</option>
                                }
                                else
                                {
                                    <option selected value="new">New</option>
                                    <option value="popular">Popular</option>
                                }
                            </select>
                        </li>
                        <li class="nav-item text-center">
                            <button class="btn btn-outline-primary">@Localizer["Find"]</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 offset-lg-2">
        <div class="border-bottom border-top my-1 mx-0">
            <p class="display-6">@ViewData["Title"]:</p>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mx-auto d-flex justify-content-start">
            @foreach (var template in Model)
            {
                <div class="col-12 col-md-6 mb-3">
                    <div class="card h-100 d-flex flex-column">
                        <div class="card-header">
                            <h6 class="card-title m-0">@template.Title</h6>
                            <p class="text-muted m-1 mb-0 small">@template.CreatedAt.ToLocalTime()</p>
                        </div>
                        <div class="card-body position-relative p-0">
                            <img src="@template.UrlPhoto" class="card-img rounded-0" />
                            <div class="d-flex position-absolute top-0 start-0">
                                @for (float j = template.Rating; j > 0; j--)
                                {
                                    <h4 class="m-1">
                                        @if (j >= 1)
                                        {
                                            <i class="bi bi-star-fill star"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-star-half star"></i>
                                        }
                                    </h4>
                                }
                            </div>
                            <p class="card-text small position-absolute bottom-0 start-0 w-100 text-white bg-dark bg-opacity-75 p-2 m-0">
                                @template.Description
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <form>
                                <input type="hidden" name="idTemplate" value="@template.TemplateId" class="form-control" />
                                <div class="btn-group">
                                    <button formmethod="get" asp-controller="Answer" asp-action="OpenTemplate" class="btn btn-primary" type="submit">@Localizer["Open"]</button>
                                    <button formmethod="post" asp-controller="Template" asp-action="SaveTemplate" class="btn btn-outline-primary" type="submit">
                                        <i class="bi bi-floppy"></i> @Localizer["Save"]
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
