@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_LayoutAccount.cshtml";
}

<div class="container" style="width: 400px">
    <div class="text-center">
        <a asp-action="" asp-controller="">
            <img src="~/Logo.jpg" class="rounded-pill mb-2" style="height:15vh" />
        </a>
        <p class="display-6 text-center" style="font-size:2rem;">@Localizer["ResetPasswordFor"] Reset Password for <span class="fw-bolder">@Model.Login</span></p>
    </div>
    <div class="border border-1 rounded-3 shadow shadow-sm bg-opacity-50 p-4 py-3 bg-body-secondary small">
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <input asp-for="Code" type="hidden" />
            <input asp-for="Login" type="hidden" />
            <div class="mb-2">
                <label asp-for="Password" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="Password" type="password" id="password" class="form-control" placeholder="@Localizer["EnterPassword"] />
                    <button type="button" id="togglePassword" tabindex="-1" class="btn btn-outline-secondary">
                        <i id="toggleIcon" class="bi bi-eye"></i>
                    </button>
                </div>
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>
            <div class="mb-2">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="ConfirmPassword" type="password" id="password" class="form-control" placeholder="@Localizer["ConfirmPassword"]" />
                    <button type="button" id="togglePassword" tabindex="-1" class="btn btn-outline-secondary">
                        <i id="toggleIcon" class="bi bi-eye"></i>
                    </button>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">@Localizer["Save"]</button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/PasswordEye.js"></script>
